name: Build & Push Docker image

on: [workflow_dispatch]

env:
  TAG: 1.1-beta2

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Login to DockerHub
      run: docker login -u thecloudtheory -p ${{ secrets.DOCKER_HUB_KEY }}
    - name: Build the Docker image
      run: docker build . --file ./arm-estimator/Dockerfile --tag thecloudtheory/azure-cost-estimator:$TAG
    - name: Tag latest
      run: docker tag thecloudtheory/azure-cost-estimator:$TAG thecloudtheory/azure-cost-estimator:latest
    - name: Push the Docker image
      run: docker push thecloudtheory/azure-cost-estimator:$TAG
    - name: Push the Docker image (latest)
      run: docker push thecloudtheory/azure-cost-estimator:latest
