name: .NET

on: [workflow_dispatch]

defaults:
 run:
  working-directory: ./arm-estimator

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration=Release
    - name: Publish Windows
      run: dotnet publish -p:PublishProfile=win-x64
    - name: Publish Linux
      run: dotnet publish -p:PublishProfile=linux-x64
    - name: Upload Windows artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: win-64
        path: $GITHUB_WORKSPACE/arm-estimator/bin/Release/net6.0/publish/win-64
    - name: Upload Linux artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: linux-64
        path: $GITHUB_WORKSPACE/arm-estimator/bin/Release/net6.0/publish/linux-64
      
  tests:
    runs-on: ubuntu-latest
    needs: [build]
    if: ${{ inputs.runtests }}
    name: Integration Tests
    steps:
    - uses: actions/checkout@v3
    
    - name: Azure Login
      uses: Azure/login@v1.4.6
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
    - name: Test
      working-directory: ./arm-estimator-tests
      run: dotnet test
