# This is a reusable workflow that can be called from your repository to provide an estimate given specific template/params
name: Estimate From Url

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Which GitHub Environment to use'
        required: false
        type: string
      rg:
        description: 'Resource Group name'
        required: true
        type: string
      aceVersion:
        description: 'Ace version tag'
        required: true
        type: choice
        default: 1.0.0-beta5
        options:
          - 1.0.0-beta5
      templateFileURL:
        description: 'Template file URL'
        required: true
        type: string
      templateParamFileURL:
        description: 'Template parameters file URL'
        required: true
        type: string

  workflow_call:
    inputs:
      environment:
        description: 'Which GitHub Environment to use'
        required: false
        type: string
      rg:
        description: 'Resource Group name'
        required: true
        type: string
      aceVersion:
        description: 'Ace version tag'
        required: true
        default: 1.0.0-beta5
        type: string
      templateFileURL:
        description: 'Template file URL'
        required: true
        type: string
      templateParamFileURL:
        description: 'Template parameters file URL'
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
    outputs:
      TotalCost:
        description: "The TotalCost"
        value: 0

permissions:
  id-token: write
  contents: read

concurrency: "${{ inputs.environment }}-${{ inputs.rg }}"

jobs:
  Estimate:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
    - uses: robinraju/release-downloader@v1.5
      name: Download Arm-Estimator release
      id: downloadACE
      with:
        repository: "TheCloudTheory/arm-estimator"
        latest: false
        tag: ${{ inputs.aceVersion }}
        fileName: "arm-estimator-linux-x64*.zip"
        
    - name: Unzip and prepare ACE
      run: |
        echo ${{steps.downloadACE.outputs.tag_name}}
        ACEZIP="arm-estimator-linux-x64-${{steps.downloadACE.outputs.tag_name}}.zip"
        echo $ACEZIP
        unzip $ACEZIP
        chmod +x ./arm-estimator

    - uses: azure/login@v1.4.6
      name: Login to Azure
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
    - name: Prepare/Check Arm Assets
      env:
        templateURL: ${{ inputs.templateFileURL}}
        paramsURL: ${{ inputs.templateParamFileURL}}
      run: |
        echo "Downloading arm template"
        curl -O $templateURL -L

        echo "Downloading param file"
        curl -O $paramsURL -L
        
        ls -l
        
    - name: Estimate
      id: ace
      env:
        templateParams: ${{ inputs.templateParams}}
      run: |
        echo "Estimating"
        ./arm-estimator ${{ inputs.templateFileURL}} ${{ secrets.AZURE_SUBSCRIPTION_ID }} ${{ inputs.rg }} --parameters ${{ inputs.templateParamFileURL}} --generateJsonOutput --jsonOutputFilename estimate
        ls
        
    - uses: actions/upload-artifact@v3.1.1
      name: Save Estimate Artifact
      with:
        name: estimate
        path: estimate.json
